@font-face {
    font-family: Old Standard TT;
    src: url("../fonts/OldStandardTT-Regular.ttf");
}

@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather-LightItalic.ttf");
}

section {
    width: calc(1415 / 1920 * 100vw);
    height: calc(819 / 1920 * 100vw);
    background: url("../img/main/section.svg");
    background-size: cover;
    margin-top: calc(72 / 1920 * 100vw);
    margin-right: calc(245 / 1920 * 100vw);
    margin-bottom: calc(17 / 1920 * 100vw);
    margin-left: calc(260 / 1920 * 100vw);
}

#logo {
    text-align: center;
    font-size: calc(64 / 1920 * 100vw);
    font-family: "Old Standard TT";
    font-weight: normal;
    margin-top: calc(72 / 1920 * 100vw);
    margin: 0;
    z-index:2;
}

#logo-eng {
    text-align: center;
    font-size: calc(45 / 1920 * 100vw);
    font-family: "Old English Text MT";
    font-weight: normal;
    margin: 0;
    z-index:2;
}

.quote {
    text-align: center;
    font-family: Merriweather;
    font-size: calc(30 / 1920 * 100vw);
    width: calc(652 / 1920 * 100vw);
    margin-top: calc(58 / 1920 * 100vw);
    margin-left: calc(370 / 1920 * 100vw);
}

#quote-author {
    text-align: right;
    margin-top: calc(1 / 1920 * 100vw);
}

#watch-bt {
    width: calc(335 / 1920 * 100vw);
    height: calc(132 / 1920 * 100vw);
    background: #5b5549;
    border-radius: calc(50 / 1920 * 100vw);
    align-items: center;
    text-align: center;
    font-size: calc(36 / 1920 * 100vw);
    font-family: Montserrat;
    margin-left: calc(526 / 1920 * 100vw);
    color: #cbc5c1;
}

#watch-bt:hover {
    background: #cbc5c1;
    color: #524D42;
}