@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Light.ttf");
}

body {
    margin: 0;
    background: #cbc5c1;
}

header {
    margin: 0;
    display: flex;
    border-radius: 0 0 calc(20 / 1920 * 100vw) calc(20 / 1920 * 100vw);
    font-family: Montserrat;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

 li {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(125 / 1920 * 100vw);
    font-size: calc(45 / 1920 * 100vw);
    background: #5b5549;
    color: #cbc5c1;
    list-style-type: none;
}

#main {
    width: calc(608 / 1920 * 100vw);
    border-radius: 0 0 0 calc(20 / 1920 * 100vw) ;
}

#watch {
    width: calc(717 / 1920 * 100vw);
    border: 0px solid #524d42;
    border-right-width: 5px;
    border-left-width: 5px;
}

#manga {
    width: calc(458 / 1920 * 100vw);
}

#img2 {
    width: calc(138 / 1920 * 100vw);
    background-image: url("../img/main/user2.svg");
    background-size: cover;
    border-radius: 0 0 calc(20 / 1920 * 100vw) 0;
}

/*authorisation*/
#author {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background: #5b5549;
    border: 5px solid #524d42;
    border-radius: 0 0 calc(20 / 1920 * 100vw) calc(20 / 1920 * 100vw);
    width: calc(590 / 1920 * 100vw);
    height: calc(320 / 1920 * 100vw);
}

form {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
}

#entrance {
    display: flex;
    position: absolute;
    right: 16px;
    top: 22px;
    justify-content: center;
    align-items: center;
    width: calc(96 / 1920 * 100vw);
    height: calc(41 / 1920 * 100vw);
    background: #cbc5c1;
    border-radius: 10px;
    font-size: calc(25 / 1920 * 100vw);
    color: #524d42;
}

.ent-menu {
    background: #e1e1e1;
    width: calc(425 / 1920 * 100vw);
    height: calc(33 / 1920 * 100vw);
    border-radius: 5px;
    font-size: calc(15 / 1920 * 100vw);
    color: #524d42;
}

.margin {
    margin-left: calc(25 / 1920 * 100vw);
}

#email {
    margin-top: calc(30 / 1920 * 100vw);
}

#password {
    margin-top: calc(26 / 1920 * 100vw);
}

#trouble {
    color: black;
    font-size: calc(13 / 1920 * 100vw);
}

#enter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6C5748;
    width: calc(105 / 1920 * 100vw);
    height: calc(49 / 1920 * 100vw);
    border: 2px solid #524d42;
    color: #cbc5c1;
    font-size: calc(15 / 1920 * 100vw);
    margin-top: calc(21 / 1920 * 100vw);
    border-radius: 10px;
}

#sign-up {
    width: calc(200 / 1920 * 100vw);
    height: calc(37 / 1920 * 100vw);
    background: #6C5748;
    border: 2px solid #524d42;
    color: #cbc5c1;
    border-radius: 10px;
    margin-left: calc(26 / 1920 * 100vw);
    margin-top: calc(20 / 1920 * 100vw);
}

#google {
    position: absolute;
    bottom: calc(99 / 1920 * 100vw);
    left: calc(130 / 1920 * 100vw);
    display: flex;
    justify-content: flex-end;
    background: url("../img/main/google-ent.svg");
    background-size: cover;
    width: calc(195 / 1920 * 100vw);
    height: calc(45 / 1920 * 100vw);
    border: 2px solid #524d42;
    font-size: calc(15 / 1920 * 100vw);
    color: #524d42;
    border-radius: 5px;
}

#facebook {
    position: absolute;
    bottom: calc(99 / 1920 * 100vw);
    right: calc(20 / 1920 * 100vw);
    display: flex;
    justify-content: flex-end;
    background: url("../img/watch/facebook-ent.svg");
    background-size: cover;
    width: calc(210 / 1920 * 100vw);
    height: calc(46 / 1920 * 100vw);
    border: 2px solid #524d42;
    font-size: calc(14.5 / 1920 * 100vw);
    color: #cbc5c1;
    border-radius: 5px;
}

li:hover {
    background: #6C5748;
}

li:active  {
    background: #cbc5c1;
    color: #524D42;
}

#footer {
    font-family: Montserrat;
    font-size: calc(24 / 1920 * 100vw);
    width: calc(458 / 1920 * 100vw);
    height: calc(28 / 1920 * 100vw);
    /*margin-right: calc(740 / 1920 * 100vw);*/
    /*margin-left: calc(722 / 1920 * 100vw);*/
    margin: auto;
}