section {
    background: url("../img/watch/section-bg.svg");
    background-size: cover;
    width: calc(1821 / 1920 * 100vw);
    height: calc(831 / 1920 * 100vw);
    margin-top: calc(42 / 1920 * 100vw);
    margin-right: calc(62 / 1920 * 100vw);
    margin-bottom: calc(35 / 1920 * 100vw);
    margin-left: calc(37 / 1920 * 100vw);
}

#frame {
    background-color: #E1E2E8;
    /*background: url("../img/registration.svg");*/
    /*background-size: cover;*/
    width: calc(1055 / 1920 * 100vw);
    margin: auto;
    padding-left: calc(21 / 1920 * 100vw);
    padding-top: calc(17 / 1920 * 100vw);
    padding-right: calc(21 / 1920 * 100vw);
    padding-bottom: calc(71 / 1920 * 100vw);
    border-radius: 7px;
}

h1 {
    font-family: Montserrat;
    font-size: calc(36 / 1920 * 100vw);
    color: #524d42;
    margin-left: calc(403 / 1920 * 100vw);
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 300;
}

#r-form {
    border-top: solid #5B5549 2px;
    border-bottom: solid #5B5549 2px;
    padding-top: calc(85 / 1920 * 100vw);
    padding-left: calc(55 / 1920 * 100vw);
    padding-right: calc(55 / 1920 * 100vw);
}

#login {
    margin-bottom: calc(64 / 1920 * 100vw);
}

label {
    color: #5B5549;
}

.input {
    background: #cbc5c1;
    height: calc(33 / 1920 * 100vw);
    border-radius: 5px;
    font-size: calc(19 / 1920 * 100vw);
    color: #524d42;
    border: none;
}

.note {
    color: #805D3F;
    margin-top: 0;
    margin-bottom: calc(65 / 1920 * 100vw);
    font-size: calc(13 / 1920 * 100vw);
}

#register {
    width: calc(454 / 1920 * 100vw);
    height: calc(67 / 1920 * 100vw);
    background: #5b5549;
    border: 0;
    border-radius: calc(10 / 1920 * 100vw);
    align-items: center;
    text-align: center;
    font-size: calc(32 / 1920 * 100vw);
    margin: auto;
    font-family: Montserrat;
    color: #cbc5c1;
}

#enter-into-existing-acc {
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: calc(20 / 1920 * 100vw);
    margin-bottom: calc(110 / 1920 * 100vw);
    color: #524D42;
    font-size: 22px;
}

#r-enter {
    color: #805D3F;
    text-decoration: underline;
}