section {
    background: url("../img/watch/section-bg.svg");
    background-size: cover;
    width: calc(1821 / 1920 * 100vw);
    height: calc(831 / 1920 * 100vw);
    margin-top: calc(42 / 1920 * 100vw);
    margin-right: calc(62 / 1920 * 100vw);
    margin-bottom: calc(35 / 1920 * 100vw);
    margin-left: calc(37 / 1920 * 100vw);
}

h1 {
    font-family: Montserrat;
    font-size: calc(20 / 1920 * 100vw);
    width: calc(516 / 1920 * 100vw);
    height: calc(20 / 1920 * 100vw);
    color: #cbc5c1;
    padding-top: calc(15 / 1920 * 100vw);
    padding-right: calc(610 / 1920 * 100vw);
    margin-top: calc(42 / 1920 * 100vw);
}

#frame {
    background-color: #5b5549;
    width: calc((1150 - 31) / 1920 * 100vw);
    /*height: calc(823 / 1920 * 100vw);*/
    margin: auto;
    padding-left: calc(15 / 1920 * 100vw);
    padding-right: calc(16 / 1920 * 100vw);
    padding-bottom: calc(23 / 1920 * 100vw);
    border-radius: calc(5 / 1920 * 100vw);
}

#season-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ol {
    margin: 0;
}

.season, .episode {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: calc(17 / 1920 * 100vw);
    color: #cbc5c1;
    background: #524d42;
    border-radius: calc(5 / 1920 * 100vw);
    width: calc(122 / 1920 * 100vw);
    height: calc(32 / 1920 * 100vw);
}

.active, .active:hover {
    color: #524d42 !important;
    background: #cbc5c1 !important;
}

.season {
    margin-right: calc(24 / 1920 * 100vw);
    margin-bottom: calc(14 / 1920 * 100vw);
    margin-top: calc(17 / 1920 * 100vw);
}

#player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(1116 / 1920 * 100vw);
    height: calc(570 / 1920 * 100vw);
    margin: 0;
    background-color: #000000;
}

#play {
    display: flex;
    align-items: center;
    border: 0;
    padding: 0;
    width: calc(59 / 1920 * 100vw);
    height: calc(70 / 1920 * 100vw);
    background: url("../img/watch/play-bt.svg");
    background-size: cover;
}

video {
    display: none;
    width: calc(1116 / 1920 * 100vw);
    height: calc(570 / 1920 * 100vw);
}

video:hover {
    
}

.episode {
    margin-right: calc(14 / 1920 * 100vw);
    margin-top: calc(23 / 1920 * 100vw);
}

#ep-menu {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.episode:hover, .season:hover, .menu-item:hover{
    background: #6C5748;
}

#watch-bt:hover{
    background: #6C5748;
}

#watch-bt:active{
    background: #cbc5c1;
    color: #524D42;
}