<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>The Promised Neverland</title>
       <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
    <header>
        <ul class="menu">
            <a href="/"><li id="main">{{ Main.name }}</li></a>
            <a href="/watchpage"><li id="watch">Смотреть</li></a>
            <a href="/mangapage"><li id="manga">Манга</li></a>
            <li id="img2"></li>
        </ul>
        <div id="author">
            <form action="">
                <div id="entrance">Вход</div>
                <input id="email" class="ent-menu margin" type="text" placeholder="Электронная почта" >
                <input id="password" class="ent-menu margin" type="text" placeholder="Пароль" >
                <div id="trouble" class="margin">Проблемы со входом?</div>
                <input class="btns margin" id="enter" type="submit" value="Войти">
                <input class="btns margin" id="google" type="submit" value="Войти через Google">
                <input class="btns" id="facebook" type="submit" value="Войти через Facebook">
            </form>
        </div>
    </header>
    <section>
        <h1 id="logo">Обещанный Неверленд</h1>
        <h2 id="logo-eng">The Promised Neverland</h2>
        <div>
            <p class="quote">
                Нам не изменить нашего прошлого и
                <br>
                ничем не заменить погибших друзей. Но
                <br>
                мы можем осуществить их мечты!
            </p>
            <p class="quote" id="quote-author"=>- Эмма</p>
            <a href="/watchpage">
                <button id="watch-bt">
                Смотреть<br/>сейчас
                </button>
            </a>
        </div>
        </section>
    <footer>
        <p> {{ Footer.name }}</p>
    </footer>
    <script src="../static/js/main.js"></script>
    </body>
</html>