{% extends "base.html" %}
    {% block title %}
        <title>The Promised Neverland</title>
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="../static/css/index.css">
    {% endblock %}
    {% block content %}
    <section>
        <h1 id="logo">Обещанный Неверленд</h1>
        <h2 id="logo-eng">The Promised Neverland</h2>
        <div>
            <p class="quote">
                Нам не изменить нашего прошлого и
                <br>
                ничем не заменить погибших друзей. Но
                <br>
                мы можем осуществить их мечты!
            </p>
            <p class="quote" id="quote-author">- Эмма</p>
            <a href="/watchpage">
                <button id="watch-bt">
                Смотреть<br/>сейчас
                </button>
            </a>
        </div>
        </section>
    {% endblock content %}
    {% block scripts %}
        <script src="../static/js/authorisation.js"></script>
    {% endblock %}

