{% extends "base.html" %}
{% block title %}
    <title>The Promised Neverland(manga page)</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="../static/css/manga.css">
{% endblock %}
{% block content %}
    <section>
        <div id="frame">
            <h1>Читать "Обещанный Неверленд" онлайн</h1>
            <ol>
                <li class="explanation">Том, номер и название главы</li>
                <li class="explanation">Дата релиза</li>
            </ol>
            <div id="section-bg"></div>
            <button>
                <div id="ar1" class="arrow"></div>
                Развернуть
                <div id="ar2" class="arrow"></div>
            </button>
        </div>
    </section>
{% endblock %}
{% block scripts %}
{% endblock %}