{% extends "base.html" %}
    {% block title %}
        <title>The Promised Neverland(registration page)</title>
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="../static/css/register.css">
    {% endblock %}
    {% block content %}
            <section>
                <div id="frame">
                    <h1>Регистрация</h1>
                    <form action="" id="r-form">
                        <label for="r-email">Ваш email*</label>
                        <input id="r-email" class="input" type="text" placeholder="Электронная почта">
                        <p class="note">*будьте любезны указывать действующий адрес :)</p>
                        <label for="login">Ваш логин</label>
                        <input id="login" class="input" type="text" placeholder="Логин">
                        <label for="r-password">Ваш пароль*</label>
                        <input id="r-password" class="input" type="password" placeholder="Пароль">
                        <p class="note">
                            *пароль должен быть больше 8 символов и включать в себя цифры и специальные символы
                        </p>
                        <input id="register" type="submit" value="Зарегистрироваться">
                        <p id="enter-into-existing-acc"> <!-- id="sign-in" -->
                            Уже есть аккаунт?
                            <span id="r-enter">Войдите</span>
                        </p>
                    </form>
                </div>
            </section>
    {% endblock %}
    {% block scripts %}
        <script src="../static/js/register.js"></script>
    {% endblock %}