{% extends "base.html" %}
    {% block title %}
        <title>The Promised Neverland(watch page)</title>
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="../static/css/watch.css">
    {% endblock %}
    {% block content %}
        <section>
            <div id="frame">
                <h1>Смотреть "Обещанный Неверленд" онлайн</h1>
                <ol id="season-menu">
                    <li class="season">Сезон 1</li>
                    <li class="season">Сезон 2</li>
                    <li class="season">Сезон 3</li>
                </ol>
                <div id="player">
                    <button id="play"></button>
                    <video controls>
                        video doesn't exist
                    </video>
                </div>
                <ol id="ep-menu"></ol>
            </div>
            <div id="background"></div>
        </section>
    {% endblock %}
    {% block scripts %}
        <script src="../static/js/temp.js"></script>
        <script src="../static/js/watch.js"></script>
    {% endblock %}