<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Promised Neverland(watch page)</title>
    <link rel="stylesheet" href="../static/css/watch.css">
    </head>
    <body>
        <header>
            <ol class="menu">
                <a href="/" target="_self"><li class="menu-item" id="main">Главная</li></a>
                <a href="/watchpage" target="_self"><li class="menu-item" id="watch">Смотреть</li></a> <!--test js-->
                <a href="/mangapage" target="_self"><li class="menu-item" id="manga">Манга</li></a>
                <li class="menu-item" id="img2"></li>
            </ol>
        </header>
        <section>
            <div id="frame">
                <h1>Смотреть "Обещанный Неверленд" онлайн</h1>
                <ol id="season-menu">
                    <li class="season">Сезон 1</li>
                    <li class="season">Сезон 2</li>
                    <li class="season">Сезон 3</li>
                </ol>
                <div id="player">
                    <button id="play"></button>
                </div>
                <ol id="ep-menu">
                    <li class="episode" id="episode1">Серия 1</li>
                    <li class="episode">Серия 2</li>
                    <li class="episode">Серия 3</li>
                    <li class="episode">Серия 4</li>
                    <li class="episode">Серия 5</li>
                    <li class="episode">Серия 6</li>
                    <li class="episode">Серия 7</li>
                    <li class="episode">Серия 8</li>
                    <li class="episode">Серия 9</li>
                    <li class="episode">Серия 10</li>
                    <li class="episode">Серия 11</li>
                    <li class="episode">Серия 12</li>
                </ol>
            </div>
            <div id="background"></div>
        </section>
        <footer>
            <div class="footer">
                <p>Powered by Mel. All rights reserved. ©</p>
            </div>
        </footer>
        <script src="../static/js/main.js"></script>
{#        <script src="../static/js/test.js"></script>#}
    </body>
</html>